<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatis.mapper.ResourcesMapper">
    <resultMap id="BaseResultMap" type="resources">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="resource" property="resource" jdbcType="VARCHAR"/>
        <result column="strategy" property="strategy" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="int">
        delete from resources
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="resources">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into resources (name, resource, strategy
        )
        values (#{name,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR}, #{strategy,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="resources">
        update resources
        set name = #{name,jdbcType=VARCHAR},
        resource = #{resource,jdbcType=VARCHAR},
        strategy = #{strategy,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        select id, name, resource, strategy
        from resources
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, resource, strategy
        from resources
    </select>

</mapper>